@mixin rectangle {
  position: absolute;
  content: "";
  left: 45%;
  top: 20%;
  width: 7px;
  height: 60%;
  border-radius: 2px;
}
@mixin drawX($color) {
  &:before {
    @include rectangle();
    background-color: $color;
    transform: rotate(-45deg);
  }
  &:after {
    @include rectangle();
    background-color: $color;
    transform: rotate(45deg);
  }
}
@mixin drawO($color) {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  border: 5px solid $color;
  border-radius: 50%;
}
