{
  "presets": ["react", "es2015", "stage-0"],
  "plugins": [
    "react-hot-loader/babel",
    ["module-resolver", {
      "alias": {
        "app-vendor": "./spa/app/vendor",
        "app-comps": "./spa/app/components",
        "app-comps-common": "./spa/app/components/common",
        "app-actions-types": "./spa/app/actions/types",
        "app-selectors": "./spa/app/selectors",
        "app-actions": "./spa/app/actions",
        "lib": "./spa/app/lib",
        "app-utils": "./spa/app/utils",
      }
    }]
  ]
}
