body {
  background-color: lightgrey;
}

.orders {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  .order {
    margin-bottom: 10px;
    text-align: right;
    .exchange {
      font-size: 32px;
    }
    .prices {
      margin-top: -5px;
      .ask {
        font-size: 16px;
        color: darkred;
      }
      .limit {
        font-size: 18px;
        color: green;
      }
    }
    .created {
      font-size: 14px;
      color: grey;
      font-weight: lighter;
    }
  }
}

