body {
  background-color: lightgrey;
}

.orders {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  .order {
    margin-bottom: 10px;
    text-align: right;
    .exchange {
      font-size: 32px;
    }
    .prices {
      font-size: 16px;
      margin-top: -5px;
      .buy {
        color: darkred;
      }
      .ask {
        .delta {
          font-size: 12px;
          color: green;
          &.lost {
            color: darkred;
          }
        }
      }
      .sell {
        color: green;
      }
    }
    .created {
      font-size: 14px;
      color: grey;
      font-weight: lighter;
    }
  }
}

