<!DOCTYPE html>
<html>
  <head>
    <title>(-_-)</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="my playground, touch me not">
    <meta name="author" content="dpx">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%# <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700" rel="stylesheet"> %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:300,400,700" rel="stylesheet">
    <%= stylesheet_link_tag    'btrex-main.min', media: 'all' %>

    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="main-container">
      <%= yield %>
    </div>
  </body>
  <%= javascript_include_tag 'btrex-main.min' %>
</html>
